:root {
  --bg: black;
  --buttons: gray;
  font-family: 'Times New Roman';
}

* {
  color: white;
}

main {
  border-style: groove;
  margin-left: 8em;
  margin-right: 10em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 10px;
}

hr {
  border: none;
  border-top: 3px double white;
  color: white;
  overflow: visible;
  text-align: center;
  height: 15px;
}

hr::after {
  background: black;
  color: white;
  content: "SS";
  font-family: 'Pure evil 2';
  padding: 0 4px;
  position: relative;
  top: -13px;
}


body {
  background-color: black;
}

input[type="text"], input[type="password"] {
  background-color: black;
}

input, button, select, option {
  border-style: groove;
  background-color: black;
}

button:hover {
  border-style: inset;
}

button:disabled {
  color: grey;
}

header {
  display: flex;
}

header > div {
  margin: 10px;
} 
